$color1: #458FF6;
$color2: #7D7987;
$color3: #F5F7FF;
$color4: #1F1534;
$color5: #ACA9C6;
$color6: #514893;
$color7: #7D72CA;
$fzH6: 16px;
$fzH2: 48px;
$fzH3: 36px;
$fzH4: 24px;
$fzH1: 70px;
$fz14: 14px;